li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}
body {
  background-color: #fe8300;
  background: linear-gradient(to bottom right, #fe8300, yellow);
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: #f7fafa;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
h1 {
  color: 000000;
  font-size: 100px;
  text-align: center;
}
h2 {
  color: #00264d;
}
img {
  height: 350px;
  width: 500px;
  margin-left: 500px;
}
